.banner{
    background-image: url("../image/hero_contact.jpg");
    background-repeat: round;
    height: 400px;
    width: 100%;

}
.banner1 h3 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 45px;
    padding-top: 90px;
    padding-left: 89px;
    margin-top: 90px;
    position: absolute;
}
.banner1 p{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding-top: 179px;
    padding-left: 90px;
    margin-top: 72px;
    position: absolute;
}
.kem2{
    background-color: #fde1e2;
    height: 580px;
    width: 1502px;
}
.kem3 h2{
    font-size: 30px;
    color: #c7254e;
    font-family: 'Open Sans', sans-serif;
}
.kem3{
    margin-left: 740px;
    margin-top: -424px;
    font-family: 'Open Sans', sans-serif;

}
.kem3 h4{
    font-size: 18px;

    font-family: 'Open Sans', sans-serif;
}
.kem4{
    margin-left: 1115px;
    margin-top: -128px;
    font-family: 'Open Sans', sans-serif;

}
.kem5{
    margin-left: 1000px;
    margin-top: -20px;
    font-family: 'Open Sans', sans-serif;
}
.kem5 p{
    margin-left: 115px;
    font-size: 30px;
    color: #c7254e;
    font-family: 'Open Sans', sans-serif;
}
.kem5 h4{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 290px;

}
.kem6 {
    margin-left: 1123px;
    margin-top: -170px;
}
.nen{
    background-color: rgba(255, 146, 188, 1);
    height: 362px;
    width: 490px;
    margin-top: -4px;
}
.kem7 {
    color: #c7254e;
    font-family: 'Open Sans', sans-serif;
}
.p1{
    color: #f7f7f7;
    margin-top: -300px;
    margin-left: 150px;
}
.p1 p{
    margin-left: -10px;
}
.kkkk{
    margin-left: 146px;
}
.kkkk input{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;

    color: #fff;
    background: #c7254e;
    display: inline-block;
    padding: 20px 41px;
    text-transform: uppercase;
}
.kem8{
    background-image: url("../image/inner_ice_creams_09 (1).jpg");
    width: 555px;
    margin-left: 490px;
    margin-top: -265px;
    height: 362px;
    background-size: cover;
    background-position: center;
}
.nen1{
    background-color: rgba(53, 193, 192, 1);
    height: 362px;
    width: 490px;
    margin-top: -362px;
    margin-left: 1010px;
}
.nen{
    background-color: rgba(255, 146, 188, 1);
    height: 362px;
    width: 490px;
    margin-top: -4px;
}
.kem7 {
    color: #c7254e;
    font-family: 'Open Sans', sans-serif;
}
.p2{
    color: #f7f7f7;
    margin-top: -300px;
    margin-left: 1195px;
}
.p2 p{
    margin-left: -40px;
}
.llll{
    margin-left: 1195px;
}
.llll input{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;

    color: #fff;
    background: #c7254e;
    display: inline-block;
    padding: 20px 41px;
    text-transform: uppercase;
}
